 .main-center {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
}

.select-option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
    text-align: center;
}

.main-search {
    z-index: 9;
    border: none;
    outline: medium;
    width: 35%;
    margin: auto;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 22px;
    background-color: #e3e3e3;
}

.main-data-list {
    left: 0;
    right: 0;
    width: 35%;
    border: none;
    margin: 0 auto;
    outline: medium;
    font-size: 37px;
    position: absolute;
    border-radius: 22px;
    list-style: none;
}

body {
    background-color: #fdebd6;
}

.suspendedShadow {
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
}

.suspendedShadow:hover,
.suspendedShadow:focus {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.corner-button {
    margin-top: 3%;
    width: 300px;
    height: 150px;
    letter-spacing: .02rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    color: rgba(195, 81, 215, 0.73);
    position: relative;
    transition: color 0.3s;
}

.corner-button:hover {
    color: #4bd982;
}

.corner-button:hover::before {
    width: 0;
}

.corner-button:hover::after {
    height: 0;
}

.corner-button:active {
    border-width: 0.25rem;
}

.corner-button span {
    position: relative;
    z-index: 2;
}

.corner-button::before, .corner-button::after {
    content: '';
    position: absolute;
    background: #2f2f2f;
    z-index: 1;
    transition: all 0.3s;
}

.corner-button::before {
    width: calc(100% - 3rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    background: white;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.corner-button::after {
    height: calc(100% - 3rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    background: white;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-content {
    font-size: 30px;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
}
